.home-page{
    .text-zone{
        position:absolute;
        left:10%;
        top:50%;
        transform: translateY(-50%);
        width:35%;
        max-height: 90%;

    }
    h1{
        color:#fff;
        font-size:47px;
        margin:0;
        font-family:'Coolvetica';
        font-weight:350;
        &::before{
            content:'<h1>';
            color:#ff9700;
            font-family:"LabelleAurore";
            font-size:18px;
            position:absolute;
            margin-top:-40px;
            left:15px;
            opacity:0.6;

        }
        &::after{
            content:'<h1/>';
            color:#ff9700;
            font-family:"LabelleAurore";
            font-size:18px;
            position:absolute;
            margin-bottom:20px;
            margin-left:20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity:0.6;
        }
        img{
            width:32px;
            margin-left: 20px;
            height:auto;
            opacity:0;
            animation:rotateIn 1s linear both;
            animation-delay:1.2s;


        }
    }
    h2{
        color:#4d4d4d;
        margin-top: 20px;
        font-size: 25px;
        letter-spacing: 3px;
        animation:fadeIn 1s 1.7s backwards;

    }
    .flat-button{
        color:#ff9700;
        font-size: 13px;
        font-weight:400;
        text-decoration:none;
        letter-spacing: 4px;
        padding:10px 18px;
        border:1px solid #ff9700;
        border-radius:2px;
        margin-top:25px;
        float:left;
        animation:fadeIn 1s 1.7s backwards;
        white-space: nowrap;
        &:hover{
            background:#ff9700;
            color:#fff;
        }


    }
}