.logo-container{
    z-index:0;
    position:absolute;
    height:609px;
    width:400px;
    top:0;
    right:13%;
    bottom:0;
    left:auto;
    margin:auto;
    opacity: 0;

    svg{
    width:100%;
    height:auto;
    bottom:0;
    transform: rotateZ(30deg) !important;

    }
    .solid-logo{
        top:auto;
        right:auto;
        bottom:auto;
        left:0;
        margin:auto;
        width:100%;
        opacity:0;
        position:absolute;
        transform: rotateZ(30deg) !important;
        z-index:1;

    }

}
.svg-container{
    stroke:#ffe700;
    stroke-width: 10px;
}
